.disp{
  background-color: #c5cae9;
  padding: 25px;
}

.container2{
<<<<<<< HEAD
  width: 720px;
  height: 440px;
=======
  
  display: flex;
>>>>>>> 88a71026a58b5e56b884d8b07ed15e2ed87eaaed
  margin: 0 auto;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 40px;
  border-radius: 12px;
  background-color: #90a4ae;
  font-family: Lato;
}

.container2 h2{
  text-align: center;
}

table{
  margin: 0 auto;
}

td, th {
  padding: 12px;
  border: 2px dotted;
}

<<<<<<< HEAD
/* Profile Card CSS*/
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
}

.title {
  color: grey;
  font-size: 18px;
=======
.container3 {
  
  display: flex;
  margin: 0 auto;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 40px;
  padding-bottom: 40px;
  border-radius: 12px;
  background-color: #F7DC6F;
  font-family: Lato;
}



.container3 h2{
  text-align: center;
}


.container4 {
  
  
  display: flex;
  margin: 0 auto;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 40px;
  padding-bottom: 40px;
  border-radius: 12px;
  background-color: #82E0AA;
  font-family: Lato;
>>>>>>> 88a71026a58b5e56b884d8b07ed15e2ed87eaaed
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

<<<<<<< HEAD
button:hover, a:hover {
  opacity: 0.7;
}
=======
>>>>>>> 88a71026a58b5e56b884d8b07ed15e2ed87eaaed
